{%extends 'base.html' %}
{% load static %}

{%block title%} Portfolio {%endblock%}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'img/woods.jpeg' %});">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Cole Christensen</h1>
                    <span class="subheading">Welcome to my Portfolio!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5 container-color">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <img src="{% static 'img/Headshot.jpeg' %}" alt="Picture of Me" width="400px">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'about'%}">
                    <h2 class="post-title">About Me</h2>
                    <h3 class="post-subtitle">Go to my Resume</h3>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'tableau'%}">
                    <h2 class="post-title">Tableau</h2>
                    <h3 class="post-subtitle">Go to an example of Tableau</h3>
                </a>
            </div>
            <hr class="my-4" />
            <div class="post-preview">
                <a href="https://drive.google.com/drive/folders/1-xfpVAZuUZa2nYEXcu7_r9p3OisXUPmI?usp=share_link">
                    <h2 class="post-title">Google Drive</h2>
                    <h3 class="post-subtitle">Miscellaneous Cases and Projects</h3>
                </a>
            </div>
            <hr class="my-4" />
        </div>
    </div>
</div>
{% endblock %}
